body{
    font-family: var(--font-primary);
    color: var(--color-text);
    background: var(--color-background);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-content {
    background-color: rgba(255,255,255,0.20);
    box-shadow: 0 8px 32px 0 rgba(31,38,125,0.37);
    backdrop-filter: blur(4.0px);
    -webkit-backdrop-filter: blur(4.0px);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.18);
    margin-top: 75px;
}
form#formNote {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
}
form#formNote .inputGroup{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}
form#formNote .inputGroup p{
    color: var(--color-white);
}
form#formNote .inputGroup textarea{
    appearance: none;
    outline: none;
    padding: 20px;
    border-radius: 10px;
    font-size: 14px;
    border: 1px solid rgba(255,255,255,0.20);    
    color: var(--color-white);
    font-family: var(--font-primary);
    background: inherit;
    width: 100%;
    margin-top: 15px;
}
form#formNote .inputGroup small{
    font-size: 12px;
    margin-top: 10px;
    color: rgba(255,255,255,0.7);
}
form#formNote button{
    appearance: none;
    cursor: pointer;
    border: none;
    width: 100%;
    max-width: 250px;
    padding: 10px 20px;
    border-radius: 5px;
    background: var(--color-secundary);
    color: var(--color-text-button-primary);
    font-family: var(--font-primary);
    text-transform: uppercase;
    font-size: 16px;
    transition: background .2s ease-in-out;
}
form#formNote button:hover{
    background: var(--color-primary-dark);
}
/* Dailys */
.dailys{
    margin-top: 3rem;
}
.single_daily{
    position: relative;
    padding: 10px 20px;
    margin-bottom: .5rem;
    background: rgba(255,255,255,0.40);
    border-radius: 10px;
    color: var(--color-white);
}
.single_daily .buttons{
    position: absolute;
    top: -15px;
    right: 15px;
    z-index: 1;
    display: flex;
}
.single_daily .buttons > div{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: .2s ease-in-out;
}
.single_daily:hover .buttons > div{
    opacity: 1;
}
.single_daily .buttons #favoriteDaily{
    background: #fcbb43;
    margin-right: 10px;
}
.single_daily .buttons #favoriteDaily.enabled{
    opacity: 1!important;
}
.single_daily .buttons #removeDaily{
    background: #fc4343;
}
.single_daily .buttons > div img{
    width: 25px;
    height: 25px;
    object-fit: contain;
    opacity: 0.5;
    transition: .2s ease-in-out;
    filter: invert(1);
}
.single_daily .buttons > div:hover img{
    opacity: 1;
}
.single_daily .date{
    padding: 10px 20px;
    border-bottom: 1px solid rgba(255,255,255,0.20);
}
.single_daily .note{
    padding: 10px  20px;
}