body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #8e2de2, #4a00e0);
}
body p.copyright{
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: var(--color-white);
    opacity: 00.7;
}
body p.copyright a{
    color: var(--color-white);
    text-decoration: none;
}
.app-wrapper{
    padding: 25px;
    width: 95%;
    max-width: 1000px;
    height: 95%;
    max-height: 500px;
    background-color: rgba(255,255,255,0.20);
    box-shadow: 0 8px 32px 0 rgba(31,38,125,0.37);
    backdrop-filter: blur(4.0px);
    -webkit-backdrop-filter: blur(4.0px);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.18);
}
.app-wrapper .pageTitle{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,0.20);
}
.app-wrapper .pageTitle h1{
    color:var(--color-white);
    display: flex;
    align-items: center;
}
.app-wrapper .pageTitle h1 span{
    font-weight: 300;
    font-size: 14px;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid rgba(255,255,255,0.20);
}
.app-wrapper .servicesList{
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
}
.app-wrapper .servicesList .card{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    width: 50%;
    max-width: 200px;
    font-weight: 600;
    color: var(--color-white);
    background-color: rgba(255,255,255,0.20);
    box-shadow: 0 8px 32px 0 rgba(31,38,125,0.37);
    backdrop-filter: blur(4.0px);
    -webkit-backdrop-filter: blur(4.0px);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.18);
    opacity: 1;
    transition: opacity .2s ease-in-out;
}
.app-wrapper .servicesList .card:hover{
    opacity: 0.7;
}
.app-wrapper .servicesList .card img{
    filter: invert(1);
    margin-right: 5px;
    width: 25px;
}
.app-wrapper .servicesList .card.disabled{
    opacity: 0.7!important;
    pointer-events: none;
}